:host {
    .list-header {
        display: grid;
        align-items: center;
        grid-template-columns: 6% 49% 27% 17%;
        margin-bottom: 20px;
        span {
            font-family: "Open Sans";
            font-size: 10px;
            color: #A9B0C0;
            letter-spacing: 0.5px;
            line-height: 12px;
        }
    }
    ul  {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 20px;
    }
}