:host {
    aside {
        padding: 31px 25px;
    }
    .logo {
        display: block;
        width: 125px;
        line-height: 24px;
        margin-bottom: 50px;
        font-family: "Open Sans";
        color: var(--primary);
        letter-spacing: 0.6px;
        font-style: normal;
    }
}