.app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-color: rgba(255, 255, 255, 1);
    width: 25%;
    max-width: 264px;
}



main {
    background-color: #F5F9FB;
    width: inherit;
}